.menuItems {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 5px;
}

.menuItems a {
  text-decoration: none;
  color: #0b0b0b;
  margin-bottom: 25px;
}

.menuItems a:hover {
  text-decoration: none;
  color: #3e64ff;
  font-weight: 600;
  margin-bottom: 17px;
}
.boxs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  margin-left: 3px;
}

.productBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  height: 300px;
  padding: 20px;
  border: 2px solid #0d12a5;
  margin: 10px;
  border-radius: 30px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 6px 5px #eee;
}

.productBox img {
  border-radius: 10px;
}

.productBox .p_name {
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 17px;
  font-weight: 600;
}

.productBox .p_price {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}

.icon {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  justify-content: flex-end;
}

.icon input {
  width: 230px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 3px solid #023faf;
  background: none;
  outline: none;
  padding: 4px;
  box-shadow: 8px 6px 3px #d8dade;
  margin-right: 15px;
}

.icon svg {
  padding: 5px;
  cursor: pointer;
  font-size: 40px;
  margin-right: 3px;
}

.icon svg:hover {
  color: #2e2efe;
}
