.menuItems {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 5px;
}

.menuItems a {
  text-decoration: none;
  color: #0b0b0b;
  margin-bottom: 25px;
}

.menuItems a:hover {
  text-decoration: none;
  color: #58acfa;
  font-weight: 600;
  margin-bottom: 16px;
}

.productBox {
  display: flex;
  flex-direction: column;

  padding: 20px;
  border: 1px solid #0b0b0b;
  margin: 10px;
  border-radius: 27px;

  font-size: 17px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  justify-content: flex-end;
}
